@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@media print {
  body * {
    visibility: hidden;
  }

  table,
  table * {
    visibility: visible;
  }

  table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 12px; /* Ajuste según sea necesario */
  }

  table th,
  table td {
    padding: 10px; /* Ajuste el espaciado según sea necesario */
    border: 1px solid black; /* Añade bordes para definir claramente las celdas */
  }

  table thead {
    background-color: #f9fafb; /* O el color que prefiera */
  }

  table tbody tr:nth-child(even) {
    background-color: #f1f1f1; /* Para bandas de filas, si lo desea */
  }
}


.react-icons {
  fill: currentColor;
  color: inherit;
}